Repository CarlosCerdaMorales/dp2-c1-034, pull requests merged in 2025-04, with the labels that each got.

#588 feat: :egg: Service requirement fixed according to the lesson
  src/main/java/acme/components/PrincipalServiceAdvisor.java
  src/main/java/acme/components/ServiceRepository.java
  src/main/java/acme/constraints/ServiceValidator.java
  src/main/java/acme/features/principal/service/PrincipalServiceShowService.java
  src/main/java/acme/features/principal/service/ServiceRepository.java
Labels: mandatory, developer, group

#590 feat: :sparkles: flight draftmode fix
  src/main/java/acme/entities/flight/Flight.java
  src/main/java/acme/features/manager/flights/ManagerFlightCreateService.java
  src/main/java/acme/features/manager/flights/ManagerFlightDeleteService.java
  src/main/java/acme/features/manager/flights/ManagerFlightPublishService.java
  src/main/java/acme/features/manager/flights/ManagerFlightShowService.java
  src/main/java/acme/features/manager/flights/ManagerFlightUpdateService.java
Labels: student 1, developer, feat, individual

#592 feat: :egg: R9 student 4 almost done
  src/main/java/acme/entities/trackinglog/TrackingLog.java
  src/main/java/acme/features/assistanceAgent/trackingLog/AssistanceAgentTrackingLogController.java
  src/main/java/acme/features/assistanceAgent/trackingLog/AssistanceAgentTrackingLogCreateService.java
  src/main/java/acme/features/assistanceAgent/trackingLog/AssistanceAgentTrackingLogDeleteService.java
  src/main/java/acme/features/assistanceAgent/trackingLog/AssistanceAgentTrackingLogListService.java
  src/main/java/acme/features/assistanceAgent/trackingLog/AssistanceAgentTrackingLogRepository.java
  src/main/java/acme/features/assistanceAgent/trackingLog/AssistanceAgentTrackingLogShowService.java
  src/main/java/acme/features/assistanceAgent/trackingLog/AssistanceAgentTrackingLogUpdateService.java
  src/main/resources/WEB-INF/data/sample/trackingLog.csv
  src/main/resources/WEB-INF/views/assistance-agent/claim/form.jsp
  src/main/resources/WEB-INF/views/assistance-agent/claim/messages-en.i18n
  src/main/resources/WEB-INF/views/assistance-agent/claim/messages-es.i18n
  src/main/resources/WEB-INF/views/assistance-agent/tracking-log/form.jsp
  src/main/resources/WEB-INF/views/assistance-agent/tracking-log/list.jsp
  src/main/resources/WEB-INF/views/assistance-agent/tracking-log/messages-en.i18n
  src/main/resources/WEB-INF/views/assistance-agent/tracking-log/messages-es.i18n
Labels: student 4, mandatory, feat

#595 feat: :bug: fix s4 r9
  src/main/resources/WEB-INF/views/assistance-agent/claim/form.jsp
Labels: student 4, mandatory, developer, individual

#596 feat: :sparkles: messages
  src/main/resources/WEB-INF/views/validation-en.i18n
  src/main/resources/WEB-INF/views/validation-es.i18n
Labels: student 1, developer, individual

#597 feat: :sparkles: RC'S CORRECTIONS
  src/main/java/acme/constraints/BookingValidator.java
  src/main/java/acme/entities/booking/Booking.java
  src/main/java/acme/features/customer/booking/CustomerBookingCreateService.java
  src/main/java/acme/features/customer/booking/CustomerBookingPublishService.java
  src/main/java/acme/features/customer/isFrom/CustomerIsFromCreateService.java
  src/main/java/acme/features/customer/isFrom/CustomerIsFromPublishService.java
  src/main/java/acme/features/customer/isFrom/CustomerIsFromUpdateService.java
  src/main/java/acme/features/customer/passenger/CustomerPassengerListService.java
  src/main/java/acme/relationships/IsFrom.java
  src/main/resources/WEB-INF/data/sample/isFrom.csv
  src/main/resources/WEB-INF/views/customer/booking/form.jsp
  src/main/resources/WEB-INF/views/customer/is-from/form.jsp
  src/main/resources/WEB-INF/views/customer/is-from/messages-en.i18n
  src/main/resources/WEB-INF/views/customer/is-from/messages-es.i18n
  src/main/resources/WEB-INF/views/customer/passenger/list.jsp
  src/main/resources/WEB-INF/views/fragments/menu-en.i18n
  src/main/resources/WEB-INF/views/fragments/menu-es.i18n
  src/main/resources/WEB-INF/views/fragments/menu.jsp
  src/main/resources/WEB-INF/views/validation-en.i18n
  src/main/resources/WEB-INF/views/validation-es.i18n
Labels: student 2, developer, fix, individual

#603 docs: :memo: S01-doc
  reports/Student #1/Deliverable 03/D03-Requirements-Student #1.docx
  src/main/java/acme/features/manager/flights/ManagerFlightShowService.java
  src/main/java/acme/features/manager/legs/ManagerLegCreateService.java
  src/main/java/acme/features/manager/legs/ManagerLegDeleteService.java
  src/main/java/acme/features/manager/legs/ManagerLegUpdateService.java
Labels: student 1, individual, documentation

#620 feat: :egg: Frontend upgrades
  src/main/java/acme/features/assistanceAgent/claim/AssistanceAgentClaimShowService.java
  src/main/java/acme/features/assistanceAgent/trackingLog/AssistanceAgentTrackingLogShowService.java
  src/main/resources/WEB-INF/views/assistance-agent/claim/form.jsp
  src/main/resources/WEB-INF/views/assistance-agent/tracking-log/form.jsp
  src/main/resources/WEB-INF/views/assistance-agent/tracking-log/messages-en.i18n
  src/main/resources/WEB-INF/views/assistance-agent/tracking-log/messages-es.i18n
Labels: student 4, mandatory, developer, feat, individual

#621 docs: :memo: Planning report and link to dashboard
  reports/Student #4/Deliverable 03/D03-Link-Dashboard-Student #4.txt
  reports/Student #4/Deliverable 03/D03-Requirements-Student #4.docx
Labels: student 4, individual, documentation

#622 feat: :bug: Service requirement fix solved
  src/main/java/acme/features/principal/service/PrincipalServiceShowService.java
  src/main/java/acme/features/principal/service/ServiceController.java
Labels: mandatory, feat, group

#659 feat: :rocket: All validators left added
  src/main/java/acme/constraints/ClaimValidator.java
  src/main/java/acme/constraints/TrackingLogValidator.java
  src/main/java/acme/constraints/ValidClaim.java
  src/main/java/acme/entities/claim/Claim.java
  src/main/java/acme/entities/trackinglog/TrackingLogRepository.java
  src/main/java/acme/features/assistanceAgent/trackingLog/AssistanceAgentTrackingLogDeleteService.java
  src/main/java/acme/features/assistanceAgent/trackingLog/AssistanceAgentTrackingLogPublishService.java
  src/main/java/acme/features/assistanceAgent/trackingLog/AssistanceAgentTrackingLogUpdateService.java
  src/main/resources/WEB-INF/views/assistance-agent/tracking-log/form.jsp
  src/main/resources/WEB-INF/views/validation-en.i18n
  src/main/resources/WEB-INF/views/validation-es.i18n
Labels: student 4, mandatory, developer, analyst, individual

#660 fix: :art: Little fix with the sample data
  src/main/java/acme/constraints/TrackingLogValidator.java
  src/main/resources/WEB-INF/data/sample/claim.csv
Labels: student 4, mandatory, individual, bug

#661 feat: :sparkles: unfinished manager dashboard
  src/main/java/acme/features/authenticated/manager/dashboard/ManagerDashboardRepository.java
  src/main/java/acme/features/authenticated/manager/dashboard/ManagerDashboardShowService.java
  src/main/java/acme/features/manager/dashboard/ManagerDashboardController.java
  src/main/java/acme/features/manager/dashboard/ManagerDashboardRepository.java
  src/main/java/acme/features/manager/dashboard/ManagerDashboardShowService.java
  src/main/java/acme/forms/ManagerDashboard.java
  src/main/resources/WEB-INF/views/manager/manager-dashboard/form.jsp
  src/main/resources/WEB-INF/views/manager/manager-dashboard/messages-en.i18n
  src/main/resources/WEB-INF/views/manager/manager-dashboard/messages-es.i18n
Labels: student 1, suplementary I, feat

#674 S01 followup corrections
  src/main/java/acme/constraints/FlightValidator.java
  src/main/java/acme/constraints/LegValidator.java
  src/main/java/acme/constraints/ValidFlight.java
  src/main/java/acme/entities/flight/Flight.java
  src/main/java/acme/entities/flight/FlightRepository.java
  src/main/java/acme/entities/systemCurrencies/SystemCurrencies.java
  src/main/java/acme/features/leg/LegRepository.java
  src/main/java/acme/features/manager/flights/ManagerFlightCreateService.java
  src/main/java/acme/features/manager/flights/ManagerFlightDeleteService.java
  src/main/java/acme/features/manager/flights/ManagerFlightPublishService.java
  src/main/java/acme/features/manager/flights/ManagerFlightRepository.java
  src/main/java/acme/features/manager/flights/ManagerFlightShowService.java
  src/main/java/acme/features/manager/flights/ManagerFlightUpdateService.java
  src/main/java/acme/features/manager/legs/ManagerLegCreateService.java
  src/main/java/acme/features/manager/legs/ManagerLegDeleteService.java
  src/main/java/acme/features/manager/legs/ManagerLegListService.java
  src/main/java/acme/features/manager/legs/ManagerLegPublishService.java
  src/main/java/acme/features/manager/legs/ManagerLegRepository.java
  src/main/java/acme/features/manager/legs/ManagerLegShowService.java
  src/main/java/acme/features/manager/legs/ManagerLegUpdateService.java
  src/main/resources/WEB-INF/data/initial/SystemCurrencies.csv
  src/main/resources/WEB-INF/data/sample/leg.csv
  src/main/resources/WEB-INF/views/manager/flight/form.jsp
  src/main/resources/WEB-INF/views/validation-en.i18n
  src/main/resources/WEB-INF/views/validation-es.i18n
Labels: student 1, developer, individual, follow-up
